.hero-body {
  padding-top: 5px;
}

#visualization {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#visualization-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#visualization-side div {
  padding: 0 auto;
}

svg#pie {
  display: block;
  margin: 0 auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 10px;
  background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: 0.5s;
  transition: 0.5s;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: palevioletred;
  transition: 0.5s;
}

.country {
  cursor: pointer;
}

.country:hover {
  opacity: 0.75;
}

.map-tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: bisque;
  border: 2px solid saddlebrown;
  border-radius: 5px;
  padding: 1px;
}

.map-tooltip:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 10px;
  border-style: solid;
  border-color: saddlebrown transparent transparent transparent;
}

.pie-tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: bisque;
  border: 2px solid saddlebrown;
  border-radius: 5px;
  padding: 1px;
  transition: 0.5s;
}

.pie-tooltip:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 10px;
  border-style: solid;
  border-color: saddlebrown transparent transparent transparent;
}

.yearly-emission:hover {
  opacity: 0.75;
}

.y-axis {
  opacity: 0.5;
  stroke: gray;
}

.bar-tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: bisque;
  border: 2px solid saddlebrown;
  border-radius: 5px;
  padding: 1px;
  transition: 0.5s;
}

.bar-tooltip:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 10px;
  border-style: solid;
  border-color: saddlebrown transparent transparent transparent;
}
