.hero-body {
  padding-top: 5px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 10px;
  background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: 0.5s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: palevioletred;
}